.rede-forgot-email .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.rede-forgot-email .content * {
  color: #00273F;
}

.rede-forgot-email .content>.close-icon>img {
  transform: rotateZ(45deg);
}

.rede-forgot-email .content>.close-icon:focus {
  box-shadow: 0 0 5px rgba(0, 39, 63, 0.5);
  border: none;
  outline: none;
}

.rede-forgot-email .content>.close-icon {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none !important;
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 0.4s ease;
}

.rede-forgot-email .content>.titulo {
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.rede-forgot-email .content>.centro {
  padding: 20px 0;
}