.titleMentoring{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
    width:1000px;
    margin-top:30px;
    
}
@media screen and (max-width: 500px){
    .titleMentoring{    
        flex-direction: column;   
        justify-content:center;
        align-items: center;
    }
}

.mainTitle{
    color: #00273F;
    font-size : 40px;
    font-weight: 600;
    font-family: Roboto, sans-serif;

}
.buttonPlus{
    color:#00273F;
    background-color: #FFDC0C;
    width: 230px;
    height:50px;
    margin:0 !important;
    border-radius : 10px;
}
